*{margin: 0;padding:0;}
a{text-decoration: none;}
kbd{ background-color: rgba(0, 0,0,0.8);color: rgba(206, 206, 206, 0.7);
    font-family: Arial Rounded;
    font-size: 25px; width: 70px;height:70px;
    text-transform: uppercase;position: relative;
    margin: 7px 6px;
    border-radius:6px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-shadow: 4px 4px 8px 0px rgba(0,0,0,0.8);
}
.littleimg{
    width: 20px;
    position: absolute;
    left: 7.5%;
    top: 7.5%;
    border-radius: 25%;
}

kbd >button{
    color: azure;
    position: absolute;
    right: 7.5%;
    bottom: 7.5%;
    display: none;
    border: 0px;
    background: transparent;
}
kbd:hover >button{
    display:inline-block;
}


body{
    background: black url(./wall.jpg) no-repeat center center;
    background-size: cover;
}
#main{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#keyboard{
    display: inline-block;
    background: rgba(255,255,255,0.15);
    padding: 25px 50px;
    border-radius: 15px;
}
#keyboard >button{

}
#keyboard > div:nth-child(2){
    margin-left: 0.5em;
}
#keyboard > div:nth-child(3){
    margin-left: 1em;
}

#try {
   
}